
/*Leaflet Locate現在地のカスタム*/
.leaflet-touch .leaflet-control-locate {
    border: 200px solid rgba(0, 0, 0, 0.2);
  }
.leaflet-bar.leaflet-control-zoom a {
    background-color: #445;
    color: #fff;
}

/*browser.printカスタム*/
.grid-print-container {
  grid-template: auto 1fr auto / 1fr;
  background-color: orange;
}

.grid-map-print {
  grid-row: 2;
}

.grid-print-container > .title,
.grid-print-container > .sub-content {
  color: white;
}

.title {
  grid-row: 1;
  justify-self: center;
  text-align: center;
  color: grey;
  box-sizing: border-box;
  margin-top: 0;
}

.sub-content {
  grid-row: 5;
  padding-left: 10px;
  text-align: center;
  color: grey;
  box-sizing: border-box;
}

[leaflet-browser-print-pages] {
  display: none;
}

.pages-print-container [leaflet-browser-print-pages] {
  display: block;
}

button {
  background: #000;
  margin-bottom: -10px;
}

.marker-cluster-small div {
  background-color: #03a9f4;
}

a.margin {
  margin-top: -3px;
}

@media screen and (max-width:750px) {
  .leaflet-control-browser-print a.leaflet-browser-print {
    display: none;
  }
}